<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985945802954-ccvcn6hd3dcgpb3rhq63qmnsgaa8ehdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985945802954-ccvcn6hd3dcgpb3rhq63qmnsgaa8ehdm</string>
	<key>API_KEY</key>
	<string>AIzaSyCvsdWCyvLhr5x90D0WbE_2c8gjTup0DHE</string>
	<key>GCM_SENDER_ID</key>
	<string>985945802954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>idev.sjw.hellofirebase02</string>
	<key>PROJECT_ID</key>
	<string>c1214-a6a15</string>
	<key>STORAGE_BUCKET</key>
	<string>c1214-a6a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985945802954:ios:bea53f94913835a9190c33</string>
	<key>DATABASE_URL</key>
	<string>https://c1214-a6a15.firebaseio.com</string>
</dict>
</plist>